@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

/* Dark Theme (Default) */
:root {
  --color-background-100: #000000;
  --color-background-200: #1a1a1a;
  --color-background-300: #262626;
  --color-txt-100: #ffffff;
  --color-txt-200: #e5e5e5;
  --color-txt-300: #a3a3a3;
  --color-primary: #ffffff;
}

/* Light Theme */
.light {
  --color-background-100: #ffffff;
  --color-background-200: #f5f5f5;
  --color-background-300: #e5e5e5;
  --color-txt-100: #000000;
  --color-txt-200: #262626;
  --color-txt-300: #525252;
  --color-primary: #000000;
}

@theme {
  --font-sans: "Inter", sans-serif;
  --font-mono: "Fira Code", monospace;

  --text-2xs: 0.62rem;

  --color-background-100: var(--color-background-100);
  --color-background-200: var(--color-background-200);
  --color-background-300: var(--color-background-300);

  --color-txt-100: var(--color-txt-100);
  --color-txt-200: var(--color-txt-200);
  --color-txt-300: var(--color-txt-300);

  --color-primary: var(--color-primary);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-background-100);
    color: var(--color-txt-100);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem; /* 16px */
    overflow-x: hidden;
    @apply selection:bg-primary selection:text-background-100;
  }
}

@layer utilities {
  @keyframes progress {
    0% {
      width: 100%;
    }
    100% {
      width: 0%;
    }
  }
}

@layer components {
  /* reusable classes */
  .main-container {
    @apply max-w-7xl px-6 sm:px-18 mx-auto;
  }

  .section-container {
    @apply flex flex-col justify-center items-start py-16 md:py-26;
  }

  .section-heading {
    @apply flex items-center w-full font-mono font-bold text-txt-100 md:text-3xl text-2xl mb-8;
  }

  .section-heading > .line {
    @apply flex-grow border-t border-txt-300 ml-4;
  }

  .mono-txt {
    @apply font-mono text-lg text-primary;
  }

  .flex-between {
    @apply flex justify-between items-center gap-4;
  }

  .primary-btn {
    @apply flex items-center gap-2 ring ring-primary font-mono text-primary px-8 py-4 rounded-md hover:bg-primary/10 hover:cursor-pointer transition-colors duration-300;
  }

  .underline {
    @apply block max-w-0 group-hover:max-w-full transition-all duration-300 h-[3px] bg-primary rounded-full;
  }

  .skill-icon {
    @apply size-10 text-primary;
  }

  /* Toast Container*/
  .animate-progress {
    animation: progress 4s linear forwards;
  }

  /* Theme Gradients */
  .text-gradient {
    background-image: linear-gradient(to right, var(--color-txt-100), var(--color-txt-300));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .bg-gradient-theme {
    background-image: linear-gradient(135deg, var(--color-background-200), var(--color-background-300));
  }
}
