@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-mono: "Fira Code", monospace;

  --color-background-100: hsl(235, 73%, 6%);
  --color-background-200: hsl(217, 33%, 17%);
  --color-background-300: hsl(215, 25%, 27%);

  --color-txt-100: hsl(210, 40%, 98%);
  --color-txt-200: hsl(213, 27%, 84%);
  --color-txt-300: hsl(215, 20%, 65%);

  --color-primary: hsl(271, 81%, 56%);
}

@layer base {
  body {
    background-color: hsl(235, 73%, 6%);
    color: hsl(210, 40%, 98%);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.125rem; /* 18px */
    overflow-x: hidden;
  }
}

@layer components {
  .main-container {
    @apply max-w-7xl px-6 sm:px-18 mx-auto;
  }

  .heading-1,
  .heading-2 {
    @apply font-sans font-bold text-txt-100 md:text-7xl/20 sm:text-5xl text-4xl;
  }

  .heading-2 {
    @apply text-txt-300;
  }

  .section-heading {
    @apply flex items-center w-full font-mono font-bold text-txt-300 md:text-3xl text-2xl;
  }

  .section-heading > .line {
    @apply flex-grow border-t border-txt-300 ml-4;
  }

  .mono-txt {
    @apply font-mono text-lg text-primary;
  }

  .flex-between {
    @apply flex justify-between items-center gap-4;
  }

  .primary-btn {
    @apply flex items-center gap-2 ring ring-primary font-mono text-primary px-8 py-4 rounded-md hover:bg-primary/15 hover:cursor-pointer transition-colors duration-300;
  }

  /* Navbar */
  .logo {
    @apply font-mono font-bold text-primary text-2xl;
  }

  .nav-links {
    @apply font-mono text-txt-100 text-sm;
  }

  .navbar-web {
    @apply py-4 z-10;
  }

  .menu-icon {
    @apply text-primary size-8 hover:cursor-pointer;
  }

  .mobile-nav-wrapper {
    @apply absolute z-5 bg-background-100/95 h-screen w-screen top-15 left-0;
  }

  .mobile-nav-links {
    @apply flex flex-col justify-center items-center md:hidden font-mono gap-8 h-[90%];
  }

  /* Hero Section  */
  .hero-container {
    @apply flex flex-col justify-center items-start py-26 lg:px-20;
  }

  .section-container {
    @apply flex flex-col justify-center items-start py-26 lg:px-20;
  }

  /* Skill Section*/
  .skill-grid {
    @apply grid grid-cols-2 md:grid-cols-4 py-6 gap-4 w-full;
  }

  .skill-card {
    @apply flex flex-col items-center justify-center gap-4 px-12 py-6 font-mono text-sm bg-background-200 rounded-lg hover:-translate-y-2 transition-all duration-300;
  }

  .skill-icon {
    @apply size-10 text-primary;
  }

  /* Project Section*/
}
