@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-mono: "Fira Code", monospace;

  --text-2xs: 0.6rem;

  --color-background-100: hsl(235, 73%, 6%);
  --color-background-200: hsl(217, 33%, 17%);
  --color-background-300: hsl(215, 25%, 27%);

  --color-txt-100: hsl(210, 40%, 98%);
  --color-txt-200: hsl(213, 27%, 84%);
  --color-txt-300: hsl(215, 20%, 65%);

  --color-primary: hsl(271, 81%, 56%);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: hsl(235, 73%, 6%);
    color: hsl(210, 40%, 98%);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem; /* 16px */
    overflow-x: hidden;
  }
}

@layer utilities {
  @keyframes progress {
    0% {
      width: 100%;
    }
    100% {
      width: 0%;
    }
  }
}

@layer components {
  .main-container {
    @apply max-w-7xl px-6 sm:px-18 mx-auto;
  }

  .heading-1 {
    @apply font-sans font-bold text-txt-300 md:text-6xl sm:text-5xl text-4xl;
  }

  .heading-1 > .name {
    @apply block bg-gradient-to-r from-fuchsia-50 to-fuchsia-300 bg-clip-text text-transparent;
  }

  .section-heading {
    @apply flex items-center w-full font-mono font-bold text-txt-300 md:text-3xl text-2xl;
  }

  .section-heading > .line {
    @apply flex-grow border-t border-txt-300 ml-4;
  }

  .mono-txt {
    @apply font-mono text-lg text-primary;
  }

  .flex-between {
    @apply flex justify-between items-center gap-4;
  }

  .primary-btn {
    @apply flex items-center gap-2 ring ring-primary font-mono text-primary px-8 py-4 rounded-md hover:bg-primary/15 hover:cursor-pointer transition-colors duration-300;
  }

  /* Navbar */
  .logo {
    @apply font-mono font-bold text-primary text-2xl;
  }

  .nav-links {
    @apply font-mono text-txt-100 text-sm;
  }

  .underline {
    @apply block max-w-0 group-hover:max-w-full transition-all duration-500 h-[3px] bg-primary rounded-full;
  }

  .navbar-web {
    @apply py-4 z-10;
  }

  .menu-icon {
    @apply text-primary size-8 hover:cursor-pointer;
  }

  .mobile-nav-wrapper {
    @apply absolute z-5 bg-background-100/95 h-screen w-screen top-15 left-0;
  }

  .mobile-nav-links {
    @apply flex flex-col justify-center items-center md:hidden font-mono gap-8 h-[90%];
  }

  /* Hero Section  */
  .hero-container {
    @apply flex flex-col justify-center items-start py-26;
  }

  .section-container {
    @apply flex flex-col justify-center items-start py-26;
  }

  /* Skill Section*/
  .skill-grid {
    @apply grid grid-cols-2 md:grid-cols-4 py-6 gap-4 w-full;
  }

  .skill-card {
    @apply flex flex-col items-center justify-center gap-4 px-12 py-6 font-mono text-sm bg-background-200 rounded-lg hover:-translate-y-2 transition-all duration-300;
  }

  .skill-icon {
    @apply size-10 text-primary;
  }

  /* Project Section*/
  .project-grid {
    @apply grid grid-cols-1 md:grid-cols-2 py-6 gap-6 w-full;
  }

  .project-card {
    @apply bg-background-200 rounded-lg;
  }

  .project-card .image-wrapper {
    @apply relative h-min overflow-hidden rounded-lg bg-background-300;
  }

  .project-card-img {
    @apply w-full object-cover max-h-50 min-h-50 rounded-t-lg group-hover:scale-105 transition-all duration-500 cursor-pointer;
  }

  .image-overlay {
    @apply absolute opacity-0  top-0 left-0 bg-primary/30 z-10 w-full max-h-50 min-h-50 rounded-t-lg transition-all duration-500 cursor-pointer flex justify-center items-center;
  }

  .project-info {
    @apply p-4 flex flex-col justify-between;
  }

  .project-info .title {
    @apply text-lg font-bold text-txt-100 mb-2;
  }

  .project-info .skill-container {
    @apply flex items-center gap-2 flex-wrap mt-4;
  }

  .project-info .skill-badge {
    @apply px-4 py-2 bg-background-100 text-txt-200 text-2xs rounded-full cursor-default;
  }

  .project-info .links-container {
    @apply flex items-center gap-2 mt-4 mb-0 pl-2;
  }

  .project-link-btn {
    @apply ring ring-background-300 outline-none py-2 px-2 rounded-md flex items-center gap-1 text-xs hover:text-primary;
  }

  /*About Section*/

  .about-container {
    @apply flex flex-col md:flex-row justify-center items-start gap-6 py-6;
  }

  .profile-img {
    @apply size-78 object-cover bg-gradient-to-r from-violet-200 to-pink-200 transition-all duration-300 rounded-lg grayscale z-2;
  }

  .profile-img-hover {
    @apply absolute top-0 size-78 w-full bg-primary transition-all duration-300 -z-10 rounded-lg;
  }

  /* Contact Form */
  .form-container {
    @apply py-6 md:max-w-3/4 mx-auto;
  }

  .input-box {
    @apply w-full bg-background-200 border border-background-300 text-txt-100 p-3 rounded-md focus:outline-none focus:ring-2 focus:ring-primary transition-colors;
  }

  .input-container {
    @apply flex max-md:flex-col items-center gap-4;
  }

  .input-wrapper {
    @apply flex flex-col gap-1 w-full;
  }

  .input-wrapper > label {
    @apply font-mono text-sm text-txt-200;
  }

  /* Footer Section*/
  .footer-text {
    @apply font-mono text-sm text-center text-txt-300 mx-auto pb-6;
  }

  .animate-progress {
    animation: progress 4s linear forwards;
  }
}
